body {
    background-color: var(--cambridge-blue);
}

h1 {
    color: var(--bistre);
    text-align: center;
}

h2 {
    color: var(--van-dyke);
    text-align: center;
}

button {
    background-color: var(--van-dyke);
    color: var(--cambridge-blue);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.thumbnail-container {
    height: 500px;
    margin-right: 75px;
    margin-bottom: 100px;
    margin-left: 75px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.thumbnail-container img {
    width: 400x;
    height: 400px;
    display: block;
}

.thumbnail-container:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Color Themes */
:root {
    --celeste: #adfcf9ff;
    --cambridge-blue: #89a894ff;
    --hunter-green: #4b644aff;
    --van-dyke: #49393bff;
    --bistre: #341c1cff;
}

.thumbnail-container:nth-child(odd) {
    background-color: var(--hunter-green);
}

.thumbnail-container:nth-child(even) {
    background-color: var(--hunter-green);
}