body {
    background-color: var(--cambridge-blue);
}

h1 {
    color: var(--bistre);
    text-align: center;
}

h2 {
    color: var(--van-dyke);
    text-align: center;
}

button {
    height: 50px;
    width: 500px;
    border-radius: 5px;
    background-color: var(--van-dyke);
    color: var(--cambridge-blue);
    text-align: center;
}


.thumbnail-container {
    height: 500px;
    margin: 0 auto 75px; /* Center the container horizontally */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Center both horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Change to column */
    text-align: center;
}


.thumbnail-container:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Color Themes */
:root {
    --celeste: #adfcf9ff;
    --cambridge-blue: #89a894ff;
    --hunter-green: #4b644aff;
    --van-dyke: #49393bff;
    --bistre: #341c1cff;
}

.button-container {
    background-color: var(--cambridge-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px; /* Adjust this as needed */
    margin-bottom: 50px;
}

.thumbnail-container:nth-child(odd) {
    background-color: var(--hunter-green);
}

.thumbnail-container:nth-child(even) {
    background-color: var(--hunter-green);
}